@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #646cff;
  --color-secondary: #535bf2;
  --font-family-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
